@font-face {
  font-family: 'Onest';
  src: url('/assets/fonts/Onest-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;

}

@font-face {
  font-family: 'Atkinson Mono';
  src: url('/assets/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: monospace;

}

