@font-face {
  font-family: 'Onest Variable';
  src: url('/assets/fonts/Onest-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  
}

@font-face {
  font-family: 'Mono';
  src: url('/assets/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: monospace;
  
}
@font-face {
  font-family: 'Atkinson';
  src: url('/assets/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  
}