body {
    background-color: $blanco;
    color: $negro;

    h1 {
        font-family: 'Onest';
        font-weight: 700;
        font-size: clamp(2.5rem, calc(0.9rem + 2.8vw), 3rem);
        line-height: clamp(2.8rem, calc(0.9rem + 2.8vw), 3.5rem);
    }

    h1.underlined {
        text-decoration: underline;
        text-decoration-thickness: .6rem;
        text-underline-offset: .4rem;
    }

    h2 {
        font-family: 'Onest';
        font-weight: 600;
        font-size: clamp(2rem, calc(0.833rem + 2.67vw), 3rem);
        line-height: clamp(2.25rem, calc(0.8rem + 2.59vw), 3.25rem);
    }

    h3 {
        font-family: 'Atkinson Mono';
        font-weight: 600;
        font-size: clamp(1.5rem, calc(0.667rem + 1.78vw), 2rem);
        line-height: clamp(2rem, calc(0.767rem + 1.78vw), 2.5rem);
    }

    h4 {
        font-family: 'Atkinson Mono';
        font-weight: 500;
        font-size: clamp(1.25rem, calc(0.533rem + 1.41vw), 1.5rem);
        line-height: clamp(1.75rem, calc(0.767rem + 1.29vw), 1.75rem);
    }

    p {
        font-family: 'Onest';
        font-weight: 400;
        font-size: clamp(1rem, calc(0.45rem + 1.17vw), 1.25rem);
        line-height: clamp(1.25rem, calc(0.55rem + 1.17vw), 1.5rem);
    }

    span {
        font-family: 'Onest';
        font-weight: 400;
        font-size: clamp(1rem, calc(0.45rem + 1.17vw), 1.25rem);
        line-height: clamp(1.25rem, calc(0.55rem + 1.17vw), 1.5rem);
    }

    .button {
        span {
            font-family: 'Onest';
            font-weight: 600;
            font-size: clamp(1rem, calc(0.625rem + 1.52vw), 2rem);
            line-height: clamp(1.25rem, calc(0.625rem + 1.52vw), 2.25rem);
        }
    }
}